<!DOCTYPE html>
{%extends 'template.html'%}
<html>
  
<head>
{%block head%}
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  background:#FAF3D6;
}

th, td {
  padding: 15px;

}

.cntbnt
{
  background-color: #e8caf51a!important; 
  border-radius: 7px; 
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 6px 18px;
 margin-bottom: 16px!important;
 color: white;
}


</style>
{%endblock head%}
</head>
<body>
{%block body%}
<div >
<table>
<tr>
<td>
<div class="card">
  <img src="static/dublin.jpg" alt="Dublin" style="width:100%">
  <h2>Dublin</h2>
  <p> Welcome to Dublin, the capital of Ireland.Dublin is one of Europe’s most popular city break destinations. </p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p>
</div>
</td>
<td>
<div class="card">
  <img src="static/cork.jpg" alt="Cork" style="width:100%">
  <h2>cork</h2>
  <p> Cork is the biggest county in Ireland and is part of both the Wild Atlantic Way and Ireland’s Ancient East.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
<td>
<div class="card">
  <img src="static/donegal.jpg" alt="Donegal" style="width:100%">
  <h2>Donegal</h2>
  <p> Discover spectacular views at every turn of the road in majestic Donegal and hit refresh with scenic parts of Ireland.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
<td>
<div class="card">
  <img src="static/galway.jpg" alt="Galway" style="width:100%">
  <h2>Galway</h2>
  <p> Galway is one of the brightest and most intriguing jewels of the West of Ireland. The city is wild and bohemian.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
</tr>

  <tr>
<td>
<div class="card">
  <img src="static/kildare.jpg" alt="Kildare" style="width:100%">
  <h2>Kildare</h2>
  <p> A glorious blend of old and new; Kildare is one of the most exciting places to visit in Ireland.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
<td>
<div class="card">
  <img src="static/mayo.jpg" alt="Mayo" style="width:100%">
  <h2>Mayo</h2>
  <p> Mayo’s Atlantic coastline is a playground for those with an adventurous spirit, offering world-class deep-sea fishing.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
<td>
<div class="card">
  <img src="static/wicklow.jpg" alt="Wicklow" style="width:100%">
  <h2>Wicklow</h2>
  <p>A few days in Wicklow is enough to refresh you as you take in the breathtaking scenic views, visit castles.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
<td>
<div class="card">
  <img src="static/limerick.jpg" alt="Limerick" style="width:100%">
  <h2>Limerick</h2>
  <p> Visit Limerick and experience its unique spirit, the friendliness of the people and the vibrancy of the riverside city.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
</tr>

  <tr>
<td>
<div class="card">
  <img src="static/longford.jpg" alt="Longford" style="width:100%">
  <h2>Longford</h2>
  <p> Longford is also known for its bed and breakfasts, antique shops and hearty pub food.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
<td>
<div class="card">
  <img src="static/waterford.jpg" alt="Waterford" style="width:100%">
  <h2>Waterford</h2>
  <p> From its vibrant city life to its rural charm and stunning coastline, Waterford city and county have something for everyone.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
<td>
<div class="card">
  <img src="static/westmeath.jpg" alt="Westmeath" style="width:100%">
  <h2>Westmeath</h2>
  <p> Take some time to explore the waterways of Westmeath and find moments of pure bliss and tranquillity.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
<td>
<div class="card">
  <img src="static/wexford.jpg" alt="Wexford" style="width:100%">
  <h2>Wexford</h2>
  <p> Wexford is bursting with things to see and do. We’re the cornerstone of Ireland’s Ancient East with castles forts to explore.</p>
  <p><button class="cntbnt"><a style="text-decoration:none" href="tbooking">Book Ticket</button></p></div>
</td>
</tr>


</table>
</div>
{%endblock body%}
</body>

</html>
