<!DOCTYPE html>
<html lang="en">
{%extends 'template.html'%}
<head>
	{%block head%}
	<link rel="stylesheet" href="static/FAQ.css">
	{%endblock head%}
</head>

<body>
	{%block body%}
	<div class="main-body">
		<nav id="navbar">
			<header>FAQ Menu</header>
			<a href="#Intro" class="nav-link">
				Size of wheelchair</a> 
			<a href="#second" class="nav-link">
				Weight limit for wheelchairs</a>
			<a href="#third" class="nav-link">
				Mobility Scooter</a>
			<a href="#fourth" class="nav-link">
				ID proof</a>
			<a href="#fifth" class="nav-link">
				Payment </a>
			<a href="#sixth" class="nav-link">
				Is my account information safe?</a>
            <a href="#seventh" class="nav-link">
                Forgot password?</a>
            <a href="#eighth" class="nav-link">
                    How does it work?</a>
    


		</nav>

		<main id="main-doc">
			<section class="main-section" id="Intro">
				<header>What size is the wheelchair space on each bus?
				</header>
				<p>
					What size is the wheelchair space on each bus?
The wheelchair spaces on our buses and coaches allows floor space of 1,200mm by 700mm to accommodate a wheelchair.
				</p>
				<br>
				</section>

			<section class="main-section" id="second">
				<header>
					Is there a weight limit for wheelchairs?

				</header>
				<p>
					Accessible coaches in the Pathways fleet are fitted with a hydraulic wheelchair lift that has a safe working load of 300kg, to include the wheelchair, its occupant, and any other baggage to be lifted.

	</p>
				
			</section>

			<section class="main-section" id="third">
				<header>Can I bring a mobility scooter?
				</header>
				<p>
                    Mobility scooters are typically too large or heavy to be transported safely or easily on board a coach or bus. We will do our very best to assist passengers intending to travel, however, our ability to do so depends on a number of factors, so please contact us on LoCall 0818 836 611 or +353 1 836 6111 for further information. We will be introducing an Assessment Scheme for Mobility Scooters for carriage on our city buses only later this year.</p>
				
			</section>

			<section class="main-section" id="fourth">
				<header>
					Do I need an ID proof while booking ticket?
				</header>
				<p>
					A government provided ID proof is required to board the bus. However you need not enter the details during booking.	</p>
			</section>

			<section class="main-section" id="fifth">
				<header>
					How do I pay?
				</header>
                    <p>
				You can pay using multiple options like debit card, credit card, wallets, net-banking and even UPI.
            </p>
			</section>

			<section class="main-section" id="sixth">
				<header>
					Is my account information safe?
				</header>
				<p>
					Your personal and travel details are safe and we dont share it with any third party agencies.
				</p>
            </section>


            <section class="main-section" id="seventh">
				<header>
					What if I forget my password?
				</header>
				<p>
					We have simplified login process so that you can login with your Google account and dont need to set and remeber any password for your Pathways account.
				</p>
            </section>

            <section class="main-section" id="eighth">
				<header>
					How does it work?
				</header>
				<p>
					Create an account using your email and mobile number to get started with the booking. All booking confirmations will be sent to your Primary email and phone number. You can forward the message to your co-passanger or friend, if in case you have booked on behalf of them.

				</p>
            </section>
 
		</main>
	</div>
	{%endblock body%}
</body>

</html>
