<!DOCTYPE html>
{%extends 'template.html'%}
<html>
{%block head%}
<head>

    <style>
        .card {

            box-shadow: 5px 5px 5px 5px rgba(16, 16, 16, 0.548);
            max-width: 300px;
            text-align: left;
            font-family: Verdana, sans-serif;
            background:#FAF3D6;

        }



        th,
        td {

            padding: 15px;

        }
    </style>
    <title> Tickets & Fare </title>
{%endblock head%}
</head>

<body>
{%block body%}

<div >
    <table >

        <tr>

            <td>

                <div class="card">

                    <img src="static/1galway.jpg" alt="Dublin" style="width:100%">

                    <h2>Galway – Dublin City </h2>

                    <p> Adult: Single €13, Return €23<br>

                        Teen (15-18 Years): <br>Single €12, Return €18 <br>

                        Child (04 – 14 Years): <br>Single €10, Return €18 <br>

                        Young Adult/Student Leap Card: <br>Single €8, Return €13.50 <br>

                        Family*: <br>Single €40, Return €74.</p>



                </div>

            </td>

            <td>

                <div class="card">

                    <img src="static/2cork.jpg" alt="Cork" style="width:100%">

                    <h2>Cork – Donegal</h2>

                    <p> Adult: Single €12, Return €24<br>

                        Teen (15-18 Years): <br>Single €5, Return €10 <br>

                        Child (04 – 14 Years): <br>Single €10, Return €20 <br>

                        Young Adult/Student Leap Card: <br>Single €7, Return €14 <br>

                        Family*: <br>Single €50, Return €100.</p>



                </div>

            </td>

            <td>

                <div class="card">

                    <img src="static/3ballina.jpg" alt="Donegal" style="width:100%">

                    <h2>Kildare – Galway</h2>

                    <p> Adult: Single €12, Return €20<br>

                        Teen (15-18 Years): <br>Single €10, Return €15 <br>

                        Child (04 – 14 Years): <br>Single €10, Return €15 <br>

                        Young Adult/Student Leap Card: <br>Single €9, Return €18 <br>

                        Family*: <br>Single €60, Return €100.</p>


                </div>

            </td>

            <td>

                <div class="card">

                    <img src="static/4galway1.jpg" alt="Galway" style="width:100%">

                    <h2>Mayo – Cork</h2>

                    <p>Adult: Single €18, Return €30<br>

                        Teen (15-18 Years): <br>Single €15, Return €23<br>

                        Child (04 – 14 Years): <br>Single €12, Return €24 <br>

                        Young Adult/Student Leap Card: <br>Single €10, Return €20 <br>

                        Family*: <br>Single €55, Return €90.</p>



                </div>

            </td>

        </tr>



        <tr>

            <td>

                <div class="card">

                    <img src="static/5dairport.jpg" alt="Kildare" style="width:100%">

                    <h2>Cork – Wicklow</h2>

                    <p> Adult: Single €22, Return €32<br>

                        Teen (15-18 Years): <br>Single €17, Return €34 <br>

                        Child (04 – 14 Years): <br>Single €7, Return €15 <br>

                        Young Adult/Student Leap Card: <br>Single €19, Return €26 <br>

                        Family*: <br>Single €30, Return €60.</p>


                </div>

            </td>

            <td>

                <div class="card">

                    <img src="static/6galway2.jpg" alt="Mayo" style="width:100%">

                    <h2>Galway – Limerick</h2>

                    <p> Adult: Single €22, Return €36<br>

                        Teen (15-18 Years):<br> Single €20, Return €28 <br>

                        Child (04 – 14 Years): <br>Single €15, Return €22 <br>

                        Young Adult/Student Leap Card: <br>Single €8, Return €16 <br>

                        Family*: <br>Single €74, Return €114.</p>



                </div>

            </td>
            <td>

                <div class="card">

                    <img src="static/7cork1.jpg" alt="Cork" style="width:100%">

                    <h2>Cork – Waterford </h2>

                    <p> Adult: Single €16, Return €30<br>

                        Teen (15-18 Years): <br>Single €15, Return €22 <br>

                        Child (04 – 14 Years): <br>Single €11, Return €22 <br>

                        Young Adult/Student Leap Card: <br>Single €9, Return €18 <br>

                        Family*: <br>Single €50, Return €80.</p>



                </div>

            </td>

            <td>

                <div class="card">

                    <img src="static/8tuma.jpg" alt="Cork" style="width:100%">

                    <h2>Wexford – Galway </h2>

                    <p> Adult: Single €4, Return €8<br>

                        Teen (15-18 Years): <br>Single €3, Return €6 <br>

                        Child (04 – 14 Years): <br>Single €2, Return €4 <br>

                        Young Adult/Student Leap Card: <br>Single €2, Return €4 <br>

                        Family*: <br>Single €20, Return €40.</p>



                </div>

            </td>
        </tr>
        <tr>

            <td>

                <div class="card">

                    <img src="static/9Kildare.jpg" alt="Cork" style="width:100%">

                    <h2>Kildare – Donegal</h2>

                    <p> Adult: Single €14, Return €28<br>

                        Teen (15-18 Years): <br>Single €3, Return €6 <br>

                        Child (04 – 14 Years): <br>Single €2, Return €4 <br>

                        Young Adult/Student Leap Card: <br>Single €12, Return €24<br>

                        Family*: <br>Single €29, Return €68.</p>



                </div>

            </td>

            <td>

                <div class="card">

                    <img src="static/10limerick.jpg" alt="Cork" style="width:100%">

                    <h2>Limerick – Longford</h2>

                    <p> Adult: Single €13, Return €26<br>

                        Teen (15-18 Years): <br>Single €9, Return €18 <br>

                        Child (04 – 14 Years): <br>Single €5, Return €10 <br>

                        Young Adult/Student Leap Card: <br>Single €4, Return €8 <br>

                        Family*: <br>Single €26, Return €52.</p>



                </div>

            </td>

            <td>

                <div class="card">

                    <img src="static/11mayo.jpg" alt="Cork" style="width:100%">

                    <h2>Dublin – Mayo</h2>

                    <p> Adult: Single €14, Return €28<br>

                        Teen (15-18 Years): <br>Single €8, Return €16 <br>

                        Child (04 – 14 Years): <br>Single €4, Return €8 <br>

                        Young Adult/Student Leap Card: <br>Single €3, Return €6 <br>

                        Family*: <br>Single €24, Return €48.</p>



                </div>

            </td>

            <td>

                <div class="card">

                    <img src="static/12wexford.jpg" alt="Cork" style="width:100%">

                    <h2>Wexford – Waterford</h2>

                    <p> Adult: Single €20, Return €40<br>

                        Teen (15-18 Years): <br>Single €13, Return €26 <br>

                        Child (04 – 14 Years): <br>Single €6, Return €12 <br>

                        Young Adult/Student Leap Card: <br>Single €12, Return €24 <br>

                        Family*: <br>Single €30, Return €60.</p>



                </div>

            </td>
        </tr>


    </table>
</div>
{%endblock body%}

</body>



</html>